<button
  title="{{ T "change_theme" }}"
  data-state="closed"
  data-location="top"
  class="hextra-theme-toggle hx:cursor-pointer hx:rounded-md hx:text-left hx:font-medium hx:p-2 hx:grow hx:md:grow-0 hx:transition-colors hx:hover:bg-gray-100 hx:hover:text-gray-900 hx:dark:hover:bg-primary-100/5 hx:dark:hover:text-gray-50 hx:text-gray-600 hx:dark:text-gray-400"
  type="button"
  aria-label="{{ T "change_theme" }}"
  aria-expanded="false"
  aria-haspopup="menu"
>
  <div class="hx:flex hx:items-center hx:gap-2 hx:capitalize">
    <!-- Moon icon for Dark Mode -->
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-moon hx:group-data-[theme=light]:hidden hx:group-data-[theme=system]:hidden"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg>
    <!-- Sun icon for Light Mode -->
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sun hx:group-data-[theme=dark]:hidden hx:group-data-[theme=system]:hidden"><circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line></svg>
  </div>
</button>

<ul
  class="hextra-theme-toggle-options hx:hidden hx:z-20 hx:max-h-64 hx:overflow-auto hx:rounded-lg hx:border hx:border-gray-200 hx:bg-white hx:p-1 hx:text-sm hx:shadow-lg hx:dark:border-neutral-700 hx:dark:bg-neutral-900"
  style="position: fixed; inset: auto auto 0 0; margin: 0; min-width: 100px;"
  data-theme="light"
  role="menu"
>
  <li role="none" class="hx:flex hx:flex-col">
    <button
      type="button"
      role="menuitemradio"
      aria-checked="true"
      tabindex="-1"
      data-item="light"
      class="hx:text-gray-700 hx:dark:text-gray-300 hx:hover:bg-gray-100 hx:hover:text-gray-900 hx:dark:hover:bg-neutral-800 hx:dark:hover:text-gray-100 hx:relative hx:cursor-pointer hx:whitespace-nowrap hx:rounded-sm hx:py-1.5 hx:transition-colors hx:ltr:pl-3 hx:ltr:pr-9 hx:rtl:pr-3 hx:rtl:pl-9 hx:text-left hx:w-full hx:bg-transparent hx:border-0"
    >
      {{ T "light" }}
      <span class="hx:absolute hx:inset-y-0 hx:flex hx:items-center hx:ltr:right-3 hx:rtl:left-3 hx:group-data-[theme=dark]:hidden hx:group-data-[theme=system]:hidden">
        {{- partial "utils/icon.html" (dict "name" "check" "attributes" "height=1em width=1em") -}}
      </span>
    </button>
  </li>
  <li role="none" class="hx:flex hx:flex-col">
    <button
      type="button"
      role="menuitemradio"
      aria-checked="false"
      tabindex="-1"
      data-item="dark"
      class="hx:text-gray-700 hx:dark:text-gray-300 hx:hover:bg-gray-100 hx:hover:text-gray-900 hx:dark:hover:bg-neutral-800 hx:dark:hover:text-gray-100 hx:relative hx:cursor-pointer hx:whitespace-nowrap hx:rounded-sm hx:py-1.5 hx:transition-colors hx:ltr:pl-3 hx:ltr:pr-9 hx:rtl:pr-3 hx:rtl:pl-9 hx:text-left hx:w-full hx:bg-transparent hx:border-0"
    >
      {{ T "dark" }}
      <span class="hx:absolute hx:inset-y-0 hx:flex hx:items-center hx:ltr:right-3 hx:rtl:left-3 hx:group-data-[theme=light]:hidden hx:group-data-[theme=system]:hidden">
        {{- partial "utils/icon.html" (dict "name" "check" "attributes" "height=1em width=1em") -}}
      </span>
    </button>
  </li>
  <li role="none" class="hx:flex hx:flex-col">
    <button
      type="button"
      role="menuitemradio"
      aria-checked="false"
      tabindex="-1"
      data-item="system"
      class="hx:text-gray-700 hx:dark:text-gray-300 hx:hover:bg-gray-100 hx:hover:text-gray-900 hx:dark:hover:bg-neutral-800 hx:dark:hover:text-gray-100 hx:relative hx:cursor-pointer hx:whitespace-nowrap hx:rounded-sm hx:py-1.5 hx:transition-colors hx:ltr:pl-3 hx:ltr:pr-9 hx:rtl:pr-3 hx:rtl:pl-9 hx:text-left hx:w-full hx:bg-transparent hx:border-0"
    >
      {{ T "system" }}
      <span class="hx:absolute hx:inset-y-0 hx:flex hx:items-center hx:ltr:right-3 hx:rtl:left-3 hx:group-data-[theme=dark]:hidden hx:group-data-[theme=light]:hidden">
        {{- partial "utils/icon.html" (dict "name" "check" "attributes" "height=1em width=1em") -}}
      </span>
    </button>
  </li>
</ul>
